{% extends "base.html" %}
{%load static%}
{% block content %}
	<!-- a-about -->
	<div class="a-grid">
		<div class="container">
			<div class="w3l-about-heading">
				<h2>About Us</h2>
				<div class="content-img">
					<img src="{% static 'images/tasmaniandevilsmall.png' %}" alt="img" width="150px">
				</div>
				<p>We, act as Tasmanian devil, remarkable, capable, lovable, make your project be the best in the globe.</p>
			</div>
			<div class="agileits-a-about-grids">
				<div class="col-md-5 agileits-a-about-left">
					<img src="{% static 'images/a1.jpg' %}" alt="" />
				</div>
				<div class="col-md-7 agileits-a-about-right">
					<h3>A few words about us</h3>
					<h4>Tasmanian devil is a new team was founded in 2020 and now has six members. The team gathered elites from the field of information management and information system. There are team manager, administrative manager, content manager, deputy content manager, technical manager and deputy technical manager. Each team member studied in the related major during the university and has good professional knowledge and skills.  </h4>
					<p>Tasmanian devil has unique opinions and views on website creation and network communication, and has rich experience. In the past, the team has created a theme website of "Missing Kids". The website has won unanimous praise from clients. Tasmanian devil can give full play to the characteristics of Internet communication and provide targeted programs in the form loved by netizens. Therefore, readers can feel and understand the content they are really interested in.
						<span>Although this is a young team, we believe that with the continuous efforts and learning of team members, Tasmanian devil will continue to improve, get better and better, and can operate and grow smoothly.</span>
					</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //a-about -->
	<!-- team -->
	<div class="team">
		<div class="container">
			<div class="agileinfo-team-heading">
				<h3>Our Team</h3>
			</div>
			<div class="team-grids">
				<div class="col-md-4 agileinfo-team-grid">
					<img src="{%static 'images/t1.jpg'%}" alt="" />
					<div class="captn">
						<h4>Zhu Chencheng</h4>
						<p>Team Leader </p>
					</div>
				</div>
				<div class="col-md-4 agileinfo-team-grid">
					<img src="{%static 'images/t2.jpg'%}" alt="" />
					<div class="captn">
						<h4>Xiao<br>Xidan</h4>
						<p>Administration manager </p>
					</div>
				</div>
				<div class="col-md-4 agileinfo-team-grid">
					<img src="{%static 'images/t3.jpg'%}" alt="" />
					<div class="captn">
						<h4>Zhang Mujie</h4>
						<p>Content Manager </p>
					</div>
				</div>
				<div class="col-md-4 agileinfo-team-grid">
					<img src="{%static 'images/t4.jpg'%}" alt="" />
					<div class="captn">
						<h4>Zhu Wenpei</h4>
						<p>Deputy Content Manager</p>
					</div>
				</div>
				<div class="col-md-4 agileinfo-team-grid">
					<img src="{%static 'images/t5.jpg'%}" alt="" />
					<div class="captn">
						<h4>Zhang Zihan</h4>
						<p>Technical Manager</p>
					</div>
				</div>
				<div class="col-md-4 agileinfo-team-grid">
					<img src="{%static 'images/t6.jpg'%}" alt="" />
					<div class="captn">
						<h4>Wang Yiwen</h4>
						<p>Deputy Technical Manager</p>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //team -->
	<div class="offer">
	<div class="container">
		<div class="m-offer-grid" style="background:#fff;padding:30px;margin-bottom:50px;">
								<div class="single-left-left" >
									<h1>Reference List</h1>
								</div>
								<div class="blog-left-bottom">
									<p style="padding:10px 0;">Our World in Data, ‘Coronavirus (COVID-19) deaths’, viewed 11 November 2021, &lthttps://ourworldindata.org/covid-deaths?country=IND~USA~CAN~DEU~FRA&gt. </p>
									<p style="padding:10px 0;">Wang, B 2017, ‘JD.com: building the smart logistic system for the future’, viewed 10 November 2021, &lthttps://digital.hbs.edu/platform-rctom/submission/jd-com-building-the-smart-logistic-system-for-the-future/&gt. </p>
									<p style="padding:10px 0;">Sparks, H 2020, ‘Amazon is rolling out more bots for contactless delivery’, viewed 19 November 2021, &lthttps://nypost.com/2020/07/22/amazon-is-rolling-out-more-bots-for-contactless-delivery/&gt.</p>
									<p style="padding:10px 0;">Selvakarthi, D, Sivabalaselvamani, D, Ashwath, S, Kalaivanan, APA, Manikandan, K & Pradeep, C 2021, ‘Experimental Analysis using Deep Learning Techniques for Safety and Riskless Transport - A Sustainable Mobility Environment for Post Covid-19’, 2021 6th International Conference on Inventive Computation Technologies (ICICT), Inventive Computation Technologies (ICICT), 2021 6th International Conference on, pp. 980–984, viewed 15 December 2021, &lthttps://search-ebscohost-com.ezproxy.utas.edu.au/login.aspx?direct=true&db=edseee&AN=edseee.9358749&site=eds-live&gt.</p>
									<p style="padding:10px 0;">Spitler, S 2020, ‘Contactless Delivery Software: What It Is And How It Helps Businesses Ensure Customer Loyalty’, viewed 30 November 2021, &lthttps://www.getfareye.com/insights/blog/contactless-delivery-software#:~:text=Contactless%20delivery%20is%20a%20new%20delivery%20model%20that,doorstep%20to%20eliminate%20any%20kind%20of%20physical%20interaction&gt.</p>
									<p style="padding:10px 0;">Saud, D 2021, ‘How to Implement Contactless Delivery System in Your Business Amidst Covid-19’, viewed 2 December 2021, &lthttps://dynamics.folio3.com/blog/contactless-delivery-system/&gt.</p>
								</div>
		</div>
	</div>
</div>
	<!-- //team -->
{% endblock%}