{% load static %}
<html>
<head>
<title>Tamanian Devil Register</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Unique Login Form Widget Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript">
addEventListener("load", function()
{ setTimeout(hideURLbar, 0); }, false);
function hideURLbar()
{ window.scrollTo(0,1); }
</script>
<!-- font files  -->
<link href='//fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
<!-- /font files  -->
<!-- css files -->

<link href="/static/css/loginstyle.css" rel='stylesheet' type='text/css' media="all" />
<!-- /css files -->
</head>
<body>
<div class="adcenter"><script src="http://www.mobancss.com/include/new/ggad2_728x90.js"></script></div>
<div class="header">
	<h1>Profile Login Form</h1>
</div>
<div class="content">
	<section>
        <div id="container_demo" >
            <a class="hiddenanchor" id="toregister"></a>
            <a class="hiddenanchor" id="tologin"></a>
            <div id="wrapper">
                <div id="register" class="animate form">
					<div class="content-img">
						<img src="{% static 'images/tasmaniandevilsmall.png' %}" alt="img" class="w3l-img">
					</div>
                    <form  action="" autocomplete="on" method="post">
                        {% csrf_token %}
                        <h2> Sign up </h2>
                        <p>
                            <label for="usernamesignup" class="uname" data-icon="u">Your username</label>
                            <input id="usernamesignup" name="username" required="required" type="text" placeholder="mysuperusername690" />
						</p>
                        <p>
                            <label for="emailsignup" class="youmail" data-icon="e" > Your email</label>
                            <input id="emailsignup" name="email" required="required" type="email" placeholder="mysupermail@mail.com"/>
                        </p>
                        <p>
							<label for="passwordsignup" class="youpasswd" data-icon="p">Your password </label>
                            <input id="passwordsignup" name="password1" required="required" type="password" placeholder="eg:password123!@#$%"/>
                        </p>
                        <p>
							<label for="passwordsignup_confirm" class="youpasswd" data-icon="p">Please confirm your password </label>
                            <input id="passwordsignup_confirm" name="password2" required="required" type="password" placeholder="eg:password123!@#$%"/>
                        </p>
                        <p style="color:orange;">{{ error_msg }}</p>
                        <p class="signin button">
							<input type="submit" value="Sign up"/>
						</p>
                        <p class="change_link">
							Already a member ?
							<a href="{% url 'login'  %}" class="to_register">Log in</a>
						</p>
                    </form>
                </div>
			</div>
        </div>
    </section>
</div>
<div class="footer">
	<p>Copyright &copy; 2021.Tasmanian Devil All rights reserved.</p>
</div>
</body>
</html>