{% extends "base.html" %}
{%load static%}
{% block content %}
	<!-- a-about -->
	<div class="a-grid">
		<div class="container">
			<div class="w3l-about-heading">
				<h2>Safety</h2>
				<h3>-- Contactless Delivery System</h3>
			</div>
		</div>
	</div>
	<div class="blog">
				<!-- container -->
<div class="offer">
	<div class="container">
		<div class="m-offer-grid" style="background:#fff;padding:30px;margin-bottom:50px;">
								<div class="single-left-left" >
									<h1>What Is Contactless Delivery?</h1>
								</div>
								<div class="blog-left-bottom">
									<p style="padding:30px 0;">Contactless delivery, also referred to as no contact delivery, is a mode of delivery that involves no physical contact between the customers and delivery executives. A contactless delivery system eliminates any direct physical contact between employees, executives, and customers, resulting in controlling the spread of COVID-19. </p>
									<div style="text-align:center;">
									<iframe width="734" height="414" src="https://www.youtube.com/embed/peaKnkNX4vc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></iframe>
									</div>
								</div>
		</div>
	</div>
</div>

<div class="offer">
	<div class="container">
	<div class="m-offer-grid" style="background:#fff;padding:30px;margin-bottom:50px;width:57.5%;margin-right:2.5%;float:left;">
								<div class="blog-left-bottom left-bottom">
									<h3 style="padding:10px 0;font-weight:bold;">Why Is Contactless Delivery System Important Amidst COVID-19?</h3>
									<div class="safety2text">
										<h4 style="padding:0;margin:0;">Winning Customer’s Trust</h4>
										<p style="padding:10px 0;margin:0;">By providing your services through a contactless delivery system, you will create a bio-safe environment for your customers, sending the message to the customers that you prioritize their safety above everything else. They will be convinced and satisfied that your business is willing to take steps to ensure their health security. </p>

									</div>
									<div class="safety2text">
										<h4 style="padding:0;margin:0;">Competition With Other Businesses</h4>
										<p style="padding:10px 0;margin:0;">Since the Covid-19 pandemic started, managing and sustaining businesses have become an extremely delicate task, as one wrong step can spell the downfall. Many companies are trying to find the best solution for their current problems. They need to change and adapt to the situation to meet the customer’s expectations.</p>
									</div>
									<div class="safety2text">
										<h4 style="padding:0;margin:0;">Curbing the Virus</h4>
										<p style="padding:10px 0;margin:0;">Delivery executives and customers do not come in any physical or direct contact in a contactless delivery system. Customers make their orders and pay online while the delivery executives leave the packaged product at the customer’s doorsteps. Furthermore, the delivery facilities and the business premises are constantly sanitized. These cautionary measures ensure that no spread of COVID-19 occurs as it is designed to limit contact between delivery executives and customers. As there is no risk of infecting COVID -19, the customer can rest assured about their health status. </p>
									</div>
								</div>
		</div>
		<div class="m-offer-grid" style="background:#fff;padding:30px;margin-bottom:50px;width:37.5%;margin-left:2.5%;float:left;">
			<div class="safety2img">
				<img style="width:100%;padding:0;margin-top:20px;margin-bottom:100px;" src="{%static 'images/safety21.jpg'%}" alt="" class="ispic"/>
				<img style="width:100%;padding:0;margin-bottom:20px" src="{%static 'images/safety22.jpg'%}" alt="" class="ispic"/>
			</div>
		</div>

	</div>
</div>

	<!-- //a-about -->
{% endblock%}