{% extends "base.html" %}
{%load static%}
{% block content %}
	<!-- a-about -->
	<div class="a-grid">
		<div class="container">
			<div class="w3l-about-heading">
				<h2>Online travelling</h2>
				<h3>-- The Palace Museum</h3>
			</div>
		</div>
	</div>
	<div class="offer">
		<div class="container">
			<div class="m-offer-grid">
				<table>
				<td class="div-inline"><img class="tm" src="{% static 'images/tm11.jpg' %}"/></td>
				<td class="div-inline">
					<h3>“Discovery” Interface</h3>
					<p>In 2020, affected by the epidemic, the development of tourism market was blocked. Online "cloud tourism" carried by network and technology swept the country, opened a new model of home tourism and opened a new window for activating the tourism market.
					<br/>"Cloud tourism" is different from on-the-spot tourism and can not bring the feeling of on-the-spot tourism. However, under the barrier of the epidemic, it touches the tourism needs of the public and enjoys the fun of playing at home. This kind of innovation and change behavior centered on tourists is the proper attitude to tap the consumption potential and promote tourism upgrading.
					</p>
				</td>
				</table>
			</div>
		</div>
	</div>
	<div class="offer">
		<div class="container">
			<div class="m-offer-grid">
				<table>
				<td class="div-inline">
					<h3> "Visit the Forbidden City" interface</h3>
					<p>As one of the most vulnerable sectors exposed to the pandemic, tourism has been severely affected. Thanks to information system, we can easily know that the number of tourists is decreasing and tourism is being affected to some extent all over the world (figure 2).</p>
				</td>
				<td class="div-inline"><img class="tm" src="{% static 'images/tm12.jpg' %}"/></td>
				</table>
			</div>
		</div>
	</div>
	<div class="offer blue">
		<div class="container">
			<div class="m-offer-grid">
				<table>
				<td class="div-inline">
					<h3>Characteristic technology -- AI map</h3>
					<p>The <i>“digital Forbidden City”</i> applet lists a variety of online functions. Visitors can not only play around the Forbidden City through the "digital Forbidden City" applet, but also have a series of activities such as daily exhibitions and online exhibitions. In the context of epidemic prevention and control, "digital Forbidden City" clearly shows tourists all isolation points, epidemic prevention points and other convenient areas and facilities in the park through AI terrain display, so as to greatly improve the interaction and security of tourist attractions.</p>
				</td>
				<td class="div-inline"><img class="tm" src="{% static 'images/tm13.jpg' %}"/></td>
				</table>
			</div>
		</div>
	</div>
	<div class="offer blue">
		<div class="container">
			<div class="m-offer-grid">
				<table>
				<td class="div-inline">
					<h3> Characteristic technology -- VR panorama</h3>
					<a class="ma" href="https://pano.dpm.org.cn/gugong_pano/index.html">Click here to visit the VR panorama</a>
					<p>With the development and progress of VR technology, online "cloud tourism" in the form of VR finally appears. The cultural tourism industry uses VR technology to publicize, display and promote culture, tourism and cultural relics. By using VR technology, it can bring the civilization and historic sites, beautiful mountains and rivers and cultural heritage that can not be taken to every corner of the world, and enable the experiencer to "cross" across time and space All places can feel the grandeur of 5000 years of Chinese civilization and the magnificent mountains and rivers of the motherland.
					<br/>The integration and development of VR with culture, tourism, cultural relics and other fields has a very broad application prospect. These fields can achieve high-quality development with the help of VR technology. Actively promote the application of Museum exhibition, cultural tourism, cultural relics and intangible cultural heritage exhibition, boost the immersive virtual cultural tourism ecological industry with high performance, high-tech sense and high experience integration, and create VR + cultural tourism, which can greatly improve the interactivity and appreciation of tourist attractions
					<br/>Taking the "panoramic Forbidden City" as an example, the 360 ° non dead angle picture shows the complete style of the scenic spot. Tourists seem to be in the center of each palace. With the ancient music, they can see all kinds of angles at a glance. The enhanced interactivity also brings online tourists a more three-dimensional sightseeing experience.
					</p>
				</td>
				<td class="div-inline"><img class="tm" src="{% static 'images/tm14.jpg' %}"/></td>
				</table>
			</div>
		</div>
	</div>
	<!-- //a-about -->
{% endblock%}